/* #wrapper{
    margin-left:auto;
    margin-right:auto;
    width:960px;
} */
body{
    background-color:bisque;
    
}

.about-section{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.about-paragraph{
    margin-right: auto;
}
.image1{
    max-width: 100%;
    max-height: 100%;
    /* margin-left: auto; */
    /* margin-bottom: 10px;
    display: grid; */
    float: left;
}
.image2{

    max-width: 100%;
    max-height: 100%;
    /* margin-left: auto; */
    /* margin-bottom: 10px;
    display: grid; */
    float: left;
}

.about p{
    overflow: auto;
    margin-right: 50%;
}