body {
  background-color: beige;
}

/* cafe image styling */
.image-container {
  position: static;
 }
.center {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  color: #ddd;
}
.cafe {
  opacity: 1;
  max-width: 100% ;
  height: auto;
 
}

/* timing styling */
.timing {
  text-align: center;
  font-size:18px;
  color: teal;
  padding: 200px 100px;
}

/* footer styling */

/* Style for the footer element */
.footer {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 20px;
}

/* Style for the container div */
/* .foot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* Style for the footer text */
.footer-text {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Style for the link elements */
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  float: right;
  text-align: right;
}

/* Style for the link elements on hover */
.footer a:hover {
  color: #ccc;
}
